*.o
*.d
*.a
*.out
*.log
*.swp
*.aux
*.bbl
*.toc
*.blg
main.pdf
main.synctex.gz
supmat.pdf
agent
agent-static
test/test
opt/bin/
opt/cmocka-1.1.5/
opt/gsl-2.6/
opt/include/
opt/lib/
opt/share/
venv
.idea
/paper/supmat.synctex.gz
.DS_Store
/**/.DS_Store
compile_commands.json
